@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-semibold';
  src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-bold';
  src: url('../fonts/Raleway-Bold.ttf');
}

/*----------------------------transition animation ------------------*/

/*--------cursor----*/

.cursor {
  width: 1px;
  height: 1px;
  border: 1px solid #dcabf109;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.09, 0.52, 0.29, 1.23);
}
.expand {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  animation: cursorAnim3 0.8s forwards;
  border: 1px solid red;
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

html {
  display: flex;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  cursor: url("data:image/svg+xml,%0A%3Csvg width='8px' height='8px' viewBox='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Cerce' fill='%23333333' cx='4' cy='4' r='4'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}
body {
  background: linear-gradient(45deg, #26225c, #33162c);
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  font-family: 'Raleway';
  font-size: 12pt;
}
#cover {
  background: linear-gradient(45deg, #0f0d2f, #24101f);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999999;
}
#welcome {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  max-width: 600px;
}
#loading {
  display: inline-flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  background-image: url(../img/logo-animate.svg);
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes Floating {
  0% {
    transform: translate(0px, -70px) rotate(0.001deg);
  }
  65% {
    transform: translate(0px, 10px) rotate(0.001deg);
  }
  100% {
    transform: translate(0, 0) rotate(0.001deg);
  }
}
@keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

#wrapper {
  display: inline-flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /*
  -moz-animation: fadein 2.5s;
  -ms-animation: fadein 2.5s;
  -o-animation: fadein 2.5s;
  animation: fadein 2.5s;
  */
  display: none;
}
#wrapper2 {
  display: inline-flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /*
  -moz-animation: fadein 2.5s;
  -ms-animation: fadein 2.5s;
  -o-animation: fadein 2.5s;
  animation: fadein 2.5s;
  */
  display: none;
}
.welcome {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  max-width: 600px;
  animation: skale 2s;
}

#welcome {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  max-width: 600px;
}

@keyframes skale {
  0% {
    opacity: 0;
    transform: scale(0.01);
  }
  50% {
    opacity: 0;
    transform: scale(0.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.intro {
  font-size: 16pt;
  pointer-events: none;
  color: #fff;
  font-family: 'Raleway';
  text-align: center;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  line-height: 25pt;
}
.intro-detail {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14pt;
  line-height: 20pt;
  color: #fff;

  font-family: 'Raleway';
  letter-spacing: 1px;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.highlight {
  color: #e31b6e;
  pointer-events: none;
  font-family: 'Raleway-semibold';
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#help {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
h3 {
  padding: 20pt;
  color: #fff;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 0.7px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#share3 {
  border: 2px solid #ff524e;

  border-radius: 200px;

  padding-top: 9px;

  padding-bottom: 8px;

  padding-left: 19px;

  padding-right: 19px;

  white-space: nowrap;

  overflow: hidden;

  animation-name: fadeinbutton;

  animation-duration: 2s;

  animation-delay: 1s;

  animation-fill-mode: forwards;

  animation-iteration-count: 1;

  visibility: hidden;

  opacity: 0;

  color: #ff524e;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.5s;
}

@keyframes fadeinbutton {
  0% {
    opacity: 0;

    visibility: hidden;
  }
  50% {
    opacity: 0;

    visibility: hidden;
  }
  100% {
    opacity: 1;

    visibility: visible;
  }
}

#heartbeat5 {
  animation: Floating 2s ease-in-out forwards;
}
#heartbeat5:hover {
  background-image: url(text-animate.svg);
}
#swing-boy {
  position: absolute;
  animation: fadeinbutton 4s;
}

@media only screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) {
  .intro {
    margin-top: 20pt;
    font-size: 35pt;
    line-height: 50pt;
  }
  .intro-detail {
    font-size: 25pt;
    line-height: 40pt;
  }
  #warp2 {
    line-height: 30pt;
  }
  #heartbeat5 {
    line-height: 35pt;
  }
  #help h3 {
    font-size: 1em;
  }
}

/*====================CANVAS===================*/

canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.landscape {
  z-index: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.landscape .landscapeItem {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -moz-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  -o-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  -webkit-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  -ms-transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
  transition: 1s bottom cubic-bezier(0.33, 0, 0, 1);
}
.landscape .landscapeItem.animateIn {
  bottom: 0px;
}
.landscape .landscapeItem.animateOut {
  bottom: -100%;
}

.landscape .landscapeItem.trees.foreground {
  z-index: 6;
  background-image: url(../img/backgroun-trees.png);
}
.landscape .landscapeItem.trees:nth-last-child(1) {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
